html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
*{
	box-sizing: border-box;
}
body{
	background-color: #d0f7ee;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 26px;
}

header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 4em;
	background-color: lightgrey;
	border-bottom: solid 3px black;
}

nav {
	width: 200px;
}
.flex-container-ul li {
	display: flex;
	justify-content: center;
	/* flex-wrap: wrap; */
	align-items: center;
	/* display: flex; */
	
	margin-top: 10px;
	border: 2px solid seagreen;
	

}
.flex-container-ul  li  label {
	flex: 1 0 20px;
	max-width: 220px;
	padding: 8px;
	font-weight: bold;
}

.flex-container-ul button{
	background-color: goldenrod;
}

.form-container {
	display: flex;
	width: 70vw;
	max-width: 800px;
	border: 2px solid black;
	margin-left: auto;
	margin-right: auto;
}
